.button {
    background-color: #007bff; /* Blue background color for buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Input styles */
.input {
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: white; /* Text color */
}

/* Label styles */
.right-align-label {
    float: right;
    margin-left: 9px;
    color: white; /* Text color */
}

.login-window {
    background-color: blue;
    padding: 20px;
    margin: 10px;
    color: white; /* Text color */
}

.create-account-window {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    color: black; /* Text color for this window, since it's yellow */
}

.student-name-window {
    background-color: red;
    padding: 20px;
    margin: 10px;
    color: white; /* Text color */
}

.button-login {
    background-color: blue;
    color: white;
}

.button-create-account {
    background-color: yellow;
    color: black;
}

/* Visible window styles */
.login-window-visible {
    display: block;
}

.create-account-window-visible {
    display: block;
}

.student-name-window-visible {
    display: block;
}
