/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* Reset some basic elements */
body, h1, h2, h3, button, input {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    background-image: linear-gradient(to right top, #accbee, #e7f0f8);
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #025957;
}

/* Styling for login and account creation windows */
.login-window, .create-account-window, .student-name-window {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
}

/* Button styles */
button, .button { /* Adding .button class for specificity */
    background-color: #02a9a7;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

button:hover, .button:hover {
    background-color: #027373;
}

/* Input field styles */
input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.student {
    display: grid;
    grid-template-columns: 4fr 1fr; /* Adjusts space ratio between name and buttons */
    align-items: center;
    gap: 20px; /* Increase gap for visual separation */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.controls {
    display: flex;
    justify-content: flex-end; /* Aligns buttons to the right */
}

.student-name {
    display: inline;
    font-size: 16px; /* Ensures the text is visible and clear */
    white-space: nowrap; /* Keeps the name in a single line */
    overflow: hidden; /* Prevents the text from overflowing */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}

.toggle-button, .button { /* Ensure toggle buttons and other buttons are styled the same */
    padding: 5px 10px;
    margin-right: 5px;
}

.present, .absent {
    color: white;
    border: none;
    border-radius: 4px;
}

.present {
    background-color: #4CAF50; /* Green for present */
}

.absent {
    background-color: #f44336; /* Red for absent */
}

.edit-input {
    display: none; /* Ensure this matches the JavaScript visibility toggling */
    width: 100%; /* Ensure full width within the grid column */
    padding: 8px; /* Consistent padding with other input elements */
    margin-right: 10px; /* Space before buttons */
}
